@import url(stylesheets/compass/compass/reset/reset.css);
@font-face {
  font-family: 'droid_sansregular';
  src: url("../fonts/DroidSans/droidsans-webfont.eot");
  src: url("../fonts/DroidSans/droidsans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans/droidsans-webfont.woff2") format("woff2"), url("../fonts/DroidSans/droidsans-webfont.woff") format("woff"), url("../fonts/DroidSans/droidsans-webfont.ttf") format("truetype"), url("../fonts/DroidSans/droidsans-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'droid_sansbold';
  src: url("../fonts/DroidSans-Bold/droidsans-bold-webfont.eot");
  src: url("../fonts/DroidSans-Bold/droidsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-Bold/droidsans-bold-webfont.woff2") format("woff2"), url("../fonts/DroidSans-Bold/droidsans-bold-webfont.woff") format("woff"), url("../fonts/DroidSans-Bold/droidsans-bold-webfont.ttf") format("truetype"), url("../fonts/DroidSans-Bold/droidsans-bold-webfont.svg#droid_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'droid_serifregular';
  src: url("../fonts/Droid_Serif/droidserif-webfont.eot");
  src: url("../fonts/Droid_Serif/droidserif-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Droid_Serif/droidserif-webfont.woff2") format("woff2"), url("../fonts/Droid_Serif/droidserif-webfont.woff") format("woff"), url("../fonts/Droid_Serif/droidserif-webfont.ttf") format("truetype"), url("../fonts/Droid_Serif/droidserif-webfont.svg#droid_serifregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 12px;
  color: #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body a {
  text-decoration: none !important;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  margin: 0 auto;
}

.conteiner {
  margin: 0 auto;
  color: #fff;
  font-family: 'droid_sansregular', sans-serif;
}
.conteiner a:link {
  text-decoration: none;
  font-family: 'droid_sansregular', sans-serif;
  color: #fff;
}
.conteiner a:visited {
  text-decoration: none;
  font-family: 'droid_sansregular', sans-serif;
  color: #fff;
}

video#bgVideo {
  position: fixed;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  background-size: cover;
}

.head {
  z-index: 999;
  width: 100%;
}
.head .header {
  z-index: 999;
  text-align: center;
}

.logo {
  z-index: 999;
  height: 53px;
  width: 150px;
  overflow: hidden;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  height: 53px;
  width: 150px;
  text-align: center;
  overflow: hidden;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
h1 a {
  text-indent: -999px;
  text-align: center;
}

.pattern {
  margin-top: 15px;
  text-align: center;
}

.glyphicon.glyphicon-align-justify {
  font-size: 40px;
  padding: 2px 10px;
}

a.menu-link {
  float: none;
  display: inline-block;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0em;
}

nav[role=navigation].active {
  max-height: 15em;
}

nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #808080;
}

nav[role=navigation] li a {
  font-family: 'droid_sansregular';
  font-size: 1.4em;
  display: block;
  padding: 0.3em 0.5em;
  border-bottom: 1px solid #808080;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  a.menu-link {
    display: none;
  }

  .pattern {
    margin-top: 50px;
  }

  .js nav[role=navigation] {
    max-height: none;
  }

  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
  }

  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em;
  }

  nav[role=navigation] li a {
    border: 0;
    font-size: 1.8em;
    color: #fff;
  }
  nav[role=navigation] li a:hover {
    border: 0px solid;
    background-color: #2ecc71;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -ms-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    color: #fff;
  }
}
.welcome {
  clear: both;
}
.welcome h2 {
  position: relative;
  font-family: 'droid_sansbold', sans-serif;
  font-size: 6.66em;
  text-align: center;
  letter-spacing: 1px;
  line-height: 92px;
  margin-bottom: 70px;
  margin-top: 170px;
  color: #ffffff;
}
.welcome .down-row {
  display: block;
  text-align: center;
}
.welcome .down-row a {
  width: 2em;
  height: 2em;
  display: inline-block;
  font-size: 2.66em;
  font-weight: 600;
  padding: 0.33em;
  border: 0px solid;
  border-radius: 50px 50px 50px 50px;
  background-color: #2ecc71;
  margin-bottom: 25px;
}
.welcome .down-row span {
  display: block;
  font-size: 2.25em;
  font-family: 'droid_serifregular', serif;
  padding-bottom: 35px;
}

.about {
  background-color: #34495e;
  overflow: hidden;
}
.about .about-text {
  text-align: center;
}
.about h3 {
  font-family: 'droid_sansbold', sans-serif;
  font-size: 3.75em;
  text-align: center;
  padding-top: 125px;
  margin-bottom: 65px;
}
.about h3 ~ p {
  width: 90%;
  display: block;
  margin: 0 auto;
  font-family: 'droid_serifregular', serif;
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 33px;
  margin-bottom: 135px;
}
.about ul li {
  display: inline-block;
  text-align: center;
  margin-bottom: 85px;
}
.about ul li h4 {
  font-family: 'droid_sansbold', sans-serif;
  font-size: 2em;
  margin-bottom: 25px;
}
.about img {
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px;
  -ms-border-radius: 70px 70px 70px 70px;
  -moz-border-radius: 70px 70px 70px 70px;
  margin-bottom: 25px;
}
.about p {
  display: inline-block;
  width: 90%;
  font-family: 'droid_serifregular', serif;
  font-size: 1.66em;
  letter-spacing: 1px;
  line-height: 30px;
}

.portfolio {
  background-color: #fff;
}
.portfolio h3 {
  font-family: 'droid_sansbold', sans-serif;
  font-size: 3.75em;
  color: #34495e;
  text-align: center;
  padding-top: 125px;
  margin-bottom: 35px;
}
.portfolio .filter {
  text-align: center;
  margin: 0px auto;
  margin-bottom: 40px;
  margin-right: 20px;
}
.portfolio .filter li {
  display: inline;
  margin-right: 10px;
}
.portfolio .filter li a:active {
  border: 0px solid;
  background-color: #2ecc71;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  color: #fff;
}
.portfolio .filter li a {
  display: inline-block;
  margin: 10px 0px 0px 0px;
  font-size: 1.83em;
  margin-bottom: 25px;
  padding: 10px 15px;
  color: #34495e;
}
.portfolio .filter li a:hover {
  border: 0px solid;
  background-color: #2ecc71;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  color: #fff;
}
.portfolio .filter li:nth-child(2) a {
  border: 0px solid;
  background-color: #2ecc71;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  color: #fff;
}

.progects {
  overflow: hidden;
  margin-bottom: 100px;
}
.progects .progect {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.progects .progect a {
  text-decoration: none;
}
.progects .progect img {
  width: 100%;
  padding: 10px;
  border: 1px solid #e9e9e9;
}
.progects .progect .caption, .progects .progect .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.9);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}
.progects .caption span a {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
}
.progects .caption {
  text-align: center;
}
.progects .progect:hover .caption {
  opacity: 1;
  transition-delay: 0.2s;
}
.progects .progect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
.progects .progect h5 {
  text-align: center;
  color: #fff;
  position: relative;
  font-family: 'droid_sansbold', sans-serif;
  font-size: 3em;
  padding-bottom: 10px;
  margin: 7%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in 0.2s;
  -moz-transition: all 0.4s ease-in 0.2s;
}
.progects .progect:hover h5 {
  -webkit-transition-delay: 0.2s ease-in 0.2s;
  -moz-transition-delay: 0.2s ease-in 0.2s;
  opacity: 1;
  margin-top: 25%;
  margin-bottom: 7%;
}
.progects .progect span a {
  font-family: 'droid_serifregular', serif;
  font-size: 1.66em;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  opacity: 0;
  -webkit-transition: all 0.8s ease-in 0.2s;
  -moz-transition: all 0.8s ease-in 0.2s;
}
.progects .progect:hover span a {
  opacity: 1;
  -webkit-transition-delay: 0.5s ease-in 0.2s;
  -moz-transition-delay: 0.5s ease-in 0.2s;
}

.team {
  background-color: #2980b9;
}
.team h3 {
  margin-top: 115px;
  margin-bottom: 65px;
  font-family: 'droid_sansbold', sans-serif;
  font-size: 3.75em;
  color: #ffffff;
  text-align: center;
}
.team h4 {
  font-family: 'droid_sansbold', sans-serif;
  font-size: 2.16em;
  margin-bottom: 35px;
}
.team img {
  text-align: center;
  margin-bottom: 35px;
  border: 4px solid #fff;
  border-radius: 120px 120px 120px 120px;
  -webkit-border-radius: 120px 120px 120px 120px;
  -ms-border-radius: 120px 120px 120px 120px;
  -moz-border-radius: 120px 120px 120px 120px;
}
.team p {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 1.66em;
}
.team .team-memb {
  text-align: center;
}
.team .social {
  margin: 0 auto;
  margin-bottom: 100px;
  display: inline-block;
  text-align: center;
}
.team .social .twitter {
  float: left;
  display: inline-block;
  width: 59px;
  height: 59px;
  overflow: hidden;
  text-indent: -999px;
  background-image: url("../images/twitter.png");
  background-repeat: no-repeat;
}
.team .social .instagram {
  display: inline-block;
  width: 59px;
  height: 59px;
  margin-left: 20px;
  overflow: hidden;
  text-indent: -999px;
  background-image: url("../images/instagram.png");
  background-repeat: no-repeat;
}

.contact {
  background-color: #fff;
  color: #2c3e50;
}
.contact h3 {
  margin-top: 120px;
  font-family: 'droid_sansbold', sans-serif;
  font-size: 3.75em;
  margin-bottom: 35px;
  text-align: center;
}
.contact .contact-after {
  font-family: 'droid_sansbold', sans-serif;
  font-size: 26px;
  display: block;
  text-align: center;
  margin-bottom: 90px;
}
.contact input, .contact textarea {
  width: 90%;
  margin-bottom: 25px;
  height: 30px;
  border: 0px;
  border-top: 2px solid #2ecc71;
}
.contact textarea {
  height: 110px;
  border-top: none;
  border-bottom: 2px solid #2ecc71;
}
.contact label {
  font-family: 'droid_serifregular', serif;
  font-size: 2.16em;
}
.contact .button {
  width: 150px;
  height: 40px;
  background-color: #2ecc71;
  padding: 10px 20px;
  color: #fff;
  font-family: 'droid_serifregular', serif;
  font-size: 1.75em;
  border: 0px solid;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
}
.contact .contact-info li {
  margin-bottom: 45px;
  line-height: 2em;
}
.contact .boldy {
  font-weight: bold;
  display: block;
  font-size: 1.33em;
  font-family: 'droid_serifregular', serif;
}
.contact .boldy + span {
  font-size: 1.66em;
  font-family: 'droid_serifregular', serif;
}

.footer {
  background-color: #2c3e50;
  padding-bottom: 50px;
}
.footer img {
  margin: 75px 0px 35px 0px;
}
.footer .adress {
  line-height: 2em;
  font-family: 'droid_sansbold', sans-serif;
  font-size: 1.33em;
}
.footer .mail-phone {
  line-height: 2em;
  font-family: 'droid_sansbold', sans-serif;
  font-size: 1.33em;
}

.soc-icons li {
  float: left;
}
.soc-icons li a {
  display: inline-block;
  text-indent: -999px;
}
.soc-icons li .twitter {
  width: 59px;
  height: 59px;
  overflow: hidden;
  text-indent: -999px;
  margin-left: 20px;
  background-image: url("../images/twitter.png");
  background-repeat: no-repeat;
}
.soc-icons li .facebook {
  width: 59px;
  height: 59px;
  overflow: hidden;
  margin-left: 20px;
  text-indent: -999px;
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
}
.soc-icons li .instagram {
  width: 59px;
  height: 59px;
  margin-left: 20px;
  overflow: hidden;
  text-indent: -999px;
  background-image: url("../images/instagram.png");
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  video#bgVideo {
    display: none;
  }

  body {
    background-image: url("../images/bg_01.jpg");
    background-repeat: no-repeat;
  }

  .logo {
    z-index: 999;
    height: 53px;
    width: 150px;
    overflow: hidden;
    margin-top: 45px;
  }
  .logo img {
    text-align: center;
  }

  .welcome {
    clear: both;
  }
  .welcome h2 {
    position: relative;
    font-family: 'droid_sansbold', sans-serif;
    font-size: 3.66em;
    text-align: center;
    letter-spacing: 1px;
    line-height: 45px;
    margin-bottom: 10%;
    margin-top: 70px;
    color: #ffffff;
  }

  .footer {
    text-align: center;
  }
  .footer .soc-icons {
    overflow: hidden;
    margin-top: 20px;
  }
  .footer li {
    float: none;
    display: inline-block;
  }

  .f-head {
    display: none;
  }
}
@media only screen and (max-width: 481px) {
  .welcome {
    clear: both;
  }
  .welcome h2 {
    position: relative;
    font-family: 'droid_sansbold', sans-serif;
    font-size: 2.66em;
    text-align: center;
    letter-spacing: 1px;
    line-height: 36px;
    margin-bottom: 10%;
    margin-top: 70px;
    color: #ffffff;
  }
}
.f-head {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background: #2c3e50;
}
.f-head h1 {
  margin-top: 5px;
}
.f-head .pattern {
  margin-top: 20px;
}
